.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 303px;
}

.u-section-1 .u-group-1 {
  width: 733px;
  min-height: 263px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 40px;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 111px;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 33px 0 0 -20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 604px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 33px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 434px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: -6px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 415px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 39px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 40px;
}

.u-section-2 .u-text-1 {
  margin: 77px 0 0 51px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 77px;
}

.u-section-2 .u-image-1 {
  width: 516px;
  height: 413px;
  animation-duration: 1000ms;
  margin: -432px auto 58px 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 33px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 42px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-2 .u-image-1 {
    width: 425px;
    margin-bottom: 60px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-1 {
    width: 326px;
    margin-bottom: 39px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 24px;
    width: 497px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 47px;
    width: 474px;
  }

  .u-section-2 .u-image-1 {
    width: 447px;
    margin-top: -832px;
    margin-bottom: 60px;
    margin-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-right: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 15px;
    width: 313px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 30px;
    width: 299px;
  }

  .u-section-2 .u-image-1 {
    width: 297px;
    margin-left: 13px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 56px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-3 .u-text-2 {
  margin: 56px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 45px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 573px;
}

.u-section-4 .u-group-1 {
  width: 757px;
  min-height: 489px;
  margin: 42px auto;
}

.u-section-4 .u-text-1 {
  margin: 49px 20px 0;
}

.u-section-4 .u-form-1 {
  height: 308px;
  width: 586px;
  margin: 42px auto 0;
}

.u-section-4 .u-form-group-4 {
  text-align: center;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 624px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-form-1 {
    width: 483px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-form-1 {
    height: 309px;
    width: 545px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-form-1 {
    width: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-form-1 {
    width: 291px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 25px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 304px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 66px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }
}