.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 303px;
}

.u-section-1 .u-group-1 {
  width: 733px;
  min-height: 263px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 40px;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 111px;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 33px 0 0 -20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 604px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 33px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 434px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: -6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 302px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 46px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 280px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 9px;
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 87px 348px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 85px;
    margin-right: 16px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 139px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 4px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 54px;
    margin-right: 9px;
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 3px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
    margin-left: 25px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 67px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 56px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 64px 0 -67px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-3 .u-image-1 {
  width: 468px;
  height: 416px;
  object-position: 99.67% 50%;
  animation-duration: 1000ms;
  margin: -110px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-text-3 {
    margin: 113px 420px 60px 16px;
  }

  .u-section-3 .u-image-1 {
    width: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 200px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-1 {
    width: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 323px;
    height: 353px;
    margin-top: -47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 138px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-3 .u-image-1 {
    height: 326px;
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 300px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 25px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 304px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 66px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }
}