.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 303px;
}

.u-section-1 .u-group-1 {
  width: 733px;
  min-height: 263px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 40px;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 111px;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 33px 0 0 -20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 604px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 33px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 434px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: -6px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("images/meho_photo2.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 414px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 91px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  height: 381px;
  animation-duration: 1000ms;
  margin-top: 91px;
  margin-bottom: -58px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 82px;
    margin-bottom: -49px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 773px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 136px 590px 0 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -25px 438px 0 413px;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  margin: 20px 754px 0 20px;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: -450px 413px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 76px 438px 0 413px;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 20px 413px 0;
}

.u-section-3 .u-image-1 {
  width: 454px;
  height: 585px;
  margin: -355px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 454px;
  height: 540px;
  animation-duration: 1000ms;
  margin: -585px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1961px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 338px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 574px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 313px;
    margin-left: 579px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 338px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 313px;
    margin-right: 313px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 750px;
    margin-left: 370px;
  }

  .u-section-3 .u-image-2 {
    height: 541px;
    margin-top: -782px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1962px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 228px;
    margin-left: 203px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 354px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 203px;
    margin-left: 469px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 228px;
    margin-left: 203px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 203px;
    margin-right: 203px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 138px;
    margin-left: 113px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 113px;
    margin-left: 379px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 138px;
    margin-left: 113px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 113px;
    margin-right: 113px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -746px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1692px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 134px;
    margin-right: 79px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 515px;
    margin-right: 51px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -518px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 87px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 39px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    height: 438px;
    margin-top: 132px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 405px;
    margin-top: -504px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 683px;
}

.u-section-4 .u-image-1 {
  height: 529px;
  object-position: 50% 99.3%;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-image-1 {
    height: 500px;
    margin-top: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    object-position: 78.07% 50%;
    background-position: 78.07% 50%;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 25px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 304px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 66px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }
}