.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 873px;
}

.u-section-1 .u-group-1 {
  width: 733px;
  min-height: 263px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 40px;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 111px;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 33px 0 0 -20px;
}

.u-section-1 .u-image-2 {
  height: 555px;
  object-position: 50% 21.29%;
  background-position: 50% 21.29%;
  margin-top: -38px;
  margin-bottom: 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 604px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 33px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 434px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: -6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 302px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -110px auto 30px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 362px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 9px;
}

.u-section-2 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 9px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 21px auto 35px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 210px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 4px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 54px;
    margin-right: 9px;
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 3px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
    margin-left: 25px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.65), rgba(66,84,101,0.65)), url("images/meho_photo1.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 415px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 39px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 40px;
}

.u-section-3 .u-text-1 {
  margin: 77px 0 0 51px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 77px;
}

.u-section-3 .u-image-1 {
  width: 516px;
  height: 413px;
  margin: -432px auto 58px 31px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 33px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-3 .u-image-1 {
    width: 425px;
    margin-bottom: 60px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .u-section-3 .u-image-1 {
    width: 326px;
    margin-bottom: 39px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 24px;
    width: 497px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 47px;
    width: 474px;
  }

  .u-section-3 .u-image-1 {
    width: 447px;
    margin-top: -832px;
    margin-bottom: 60px;
    margin-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-2 {
    padding-right: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 15px;
    width: 313px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 30px;
    width: 299px;
  }

  .u-section-3 .u-image-1 {
    width: 297px;
    margin-left: 13px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 554px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 67px auto 2px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 28px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px 409px 28px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-4 .u-image-1 {
  width: 468px;
  height: 416px;
  object-position: 99.67% 50%;
  margin: -110px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    margin-right: 337px;
  }

  .u-section-4 .u-image-1 {
    width: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 258px;
  }

  .u-section-4 .u-image-1 {
    width: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 194px;
  }

  .u-section-4 .u-image-1 {
    width: 323px;
    height: 353px;
    margin-top: -47px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 122px;
  }

  .u-section-4 .u-image-1 {
    height: 326px;
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5 .u-image-1 {
  height: 529px;
  object-position: 50% 99.3%;
  margin: -79px auto 50px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-image-1 {
    height: 500px;
    margin-top: -50px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    object-position: 78.07% 50%;
    background-position: 78.07% 50%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("images/meho_photo2.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 454px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 40px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 414px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  margin-left: 0;
  margin-right: 419px;
  border-style: solid;
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 414px;
}

.u-section-6 .u-image-1 {
  height: 381px;
  animation-duration: 1000ms;
  margin: -91px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-btn-1 {
    position: relative;
    margin-right: 345px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 125px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 573px;
}

.u-section-7 .u-group-1 {
  width: 757px;
  min-height: 489px;
  margin: 42px auto;
}

.u-section-7 .u-text-1 {
  margin: 49px 20px 0;
}

.u-section-7 .u-form-1 {
  height: 308px;
  width: 586px;
  margin: 42px auto 0;
}

.u-section-7 .u-form-group-4 {
  text-align: center;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 624px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-form-1 {
    width: 483px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-form-1 {
    height: 309px;
    width: 545px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-form-1 {
    width: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-form-1 {
    width: 291px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 300px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 25px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-8 .u-image-1 {
  height: 307px;
  width: 510px;
  margin: -57px auto 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 304px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    width: 421px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 66px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    width: 322px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    width: 302px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 254px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }
}